---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Maria Paz Frisenberg</h1>
			<p class="hero__text">
				Aca tendriamos un texto que describa brevemente quien soy y que hago
			</p>
			<Boton href="#" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="/img/monachina.jpg"
		alt="Foto de perfil de Paz"
		width="384"
    	height="384"
	/>
	</div>
</section>
