#skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2rem;
}
#skills .text-content {
	max-width: 40%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.1rem;
}

@media screen and (max-width: 768px) {
	#skills {
		flex-direction: column-reverse;
	}
	#skills .text-content {
		max-width: 100%;
	}
}
