---
import Title from '../atoms/Title.astro';
import IconCarousel from './components/IconCarousel.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<!-- <SkillsOnTerminal /> -->
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Buena comunicación, redacción, diseño, trabajo en equipo, organización y planificación, análisis de tendencias,
 creatividaad, manejo de crisis, coherencia en la gestión de identidad, imagen y reputación. 
		</p>
	</div>
	<IconCarousel client:load />
</section>
