---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"
---

<section id="about" class="about">
    <div class="about__container">
        <img
            class="about__img"
            src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
            alt="Foto de perfil de Paz"
        />

        <div class="about__content">
            <Title margin="1rem" contenido="Sobre mí" />
            <p class="about__text">
                Soy Paz, Comunicadora digital. A lo largo de mi carrera, tuve el privilegio de trabajar con diversas marcas, acompañándolas para destacarse y conectar con su audiencia de manera efectiva.
            </p>
            <p class="about__text">
                Mi motivación radica en el impacto positivo que las redes sociales pueden tener en la vida de las personas. Creo que cada marca o persona tiene algo único para ofrecer, y mi objetivo es ayudarles a descubrirlo y comunicarlo a través de sus marcas.
            </p>
            <p class="about__text">
                Constantemente me mantengo actualizada mediante cursos y formaciones en Marketing Digital, y actualmente estoy estudiando Comunicación Digital en la Universidad Nacional de La Plata para seguir mejorando mis habilidades y estar al tanto de las últimas tendencias en el campo.
            </p>
            <p class="about__text">
                Idiomas: Inglés intermedio y portugués inicial.
            </p>
            <p class="about__text">
                Países con los que trabajé:
            </p>
            <div class="flags">
                <img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg" alt="Estados Unidos" class="flag-icon" />
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg" alt="Argentina" class="flag-icon" />
                <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg" alt="Italia" class="flag-icon" />
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Flag_of_Hungary.svg" alt="Hungría" class="flag-icon" />
            </div>
            <SocialIcons width="25" height="25"/>
        </div>
    </div>
</section>