---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="paz">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/css.svg"
				color="#FF4747"
				name="Canva"
			/>
			<TerminalIcon
			src="/assets/css.svg"
			color="#ffffff"
			name="Ilustrator"
			/>
			<TerminalIcon
			src="/assets/css.svg"
			color="#FF4747"
			name="Capcut"
			/>
			<TerminalIcon
			src="/assets/css.svg"
			color="#ffffff"
			name="Final Cut Pro"
			/>
			<TerminalIcon
			src="/assets/css.svg"
			color="#FF4747"
			name="Notion"
			/>
			<TerminalIcon
			src="/assets/css.svg"
			color="#00D1FF"
			name="Adobe Podcast"
			/>
			<!-- <TerminalIcon
				src="/assets/angular.svg"
				color="#FF4747"
				name="Ilustrator"
			/>
			<TerminalIcon
				src="/assets/react.svg"
				color="#00D1FF"
				name="Final Cut Pro"
			/>
			<TerminalIcon src="/assets/bun.svg" color="#F3CBC2" name="Notion" />
			<TerminalIcon src="/assets/css.svg" color="#00A3FF" name="capcut" />
			<TerminalIcon
				src="/assets/electron.svg"
				color="#3F75FF"
				name="adobe podcast"
			/> -->
		</div>
	</div>
</Terminal>
